body {
    font-family: "Arial", sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

label {
    font-size: 1.2em;
    margin-right: 10px;
}

input[type="number"] {
    padding: 5px;
    font-size: 1em;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 15px;
    font-size: 1em;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #297fb8;
}

#participantInputs {
    margin-top: 20px;
}

input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    width: 200px;
    box-sizing: border-box;
}

#result {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#result h2 {
    color: #333;
}

p {
    margin: 10px 0;
    font-size: 1.1em;
}